h1{
    font-size: 25pt;
    padding-bottom: 3%;
    padding-top: 10%;
    padding-right: 25%;
    display: flex;
    flex-direction: column;
}

table{
    width: 800px;
    height: 100px;
    overflow: auto;
}

#content {
    position: absolute;
    padding-top: 5%;
    left: 50%;
    transform: translate(-50%);
    width: 700px;
}

.wrapper {
    position: relative;
    height: 100%;
}

.result{
    margin-bottom: 50px;
    border: 1px solid red;
}

.table{
    align-items: center;
}

th{
    background-color: lightgray;
    width: "500";
    height: auto;
}

body {
    margin: 0;
    height: 100%;
    /* background: #f5f6f7; */
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}



/* 상세 정보 구현 */
/* NAV */
.loc_link:hover {
    background-color: var(--first-color);
}

.loc_icon {
    font-size: 1.25rem;
}

.loc_name {
    font-size: var(--small-font-size);
}

/* Expander menu */
.expander {
    width: calc(var(--nav--width) + 9.25rem);
}

/* Add padding body*/
.body-pd {
    padding: 2rem 0 0 16rem;
}

/* Active links menu */
.active {
    background-color: var(--first-color);
}

/* COLLAPSE */
.collapse {
    grid-template-columns: 20px max-content 1fr;
}

.collapse_link {
    justify-self: flex-end;
    transition: .5;
}

.ku {
    display: none;
    /* padding: .75rem 2.25rem; */
    text-align: start;
}
a:link{
    color: black;
    text-decoration: none;
}
a:visited{
    color: black;
    text-decoration: none;
}

/* .collapse_sublink {
    color: red;
    font-size: var(--small-font-size);
}

.collapse_sublink:hover {
    color: var(--white-color);
} */

/* Show collapse */
.showCollapse {
    display: block;
}
